html{
    font-family: sans-serif;

}

body{
   
   
}

header img{
    width: 20px;
    height: 20px;
    
}
header li{
    list-style-type: none;
    display: inline-block;
    gap: 10px;
    color: #fff;
   
}
header li img{
    width: 20px;
    height: 20px;
    background-color:#fff ;
    color: #fff;
     
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    
    height: 5rem;
}
.absract, .bouton{
    display: flex;
    align-items: center; 
    margin: 40px; 
    gap: 10px;
}
.bouton .submit{
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    border-color: #fff
    ;
    background-color: #000000;
    color: #fff;
    font-size: 17px;
}
.bouton .sign{
    background-color: #4C5FD5;
    height: 2.5rem;
    border-radius: 10px;
    width: 7rem;
    color: #fff;
    font-family: sans-serif;
    font-size: 17px;
}
.violet{
   height: 20rem;
   background-color: #dadbf1;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4rem;
}
.violet svg{
    width: 20px;
    
}
/*label {
    position: relative;
  }
  
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background-image: url("iconmonstr-arrow-right-lined") center / contain no-repeat;
  }*/
  .search{
    position: relative;
  }
  .search svg{
    position:absolute; right: 1rem;; top:16px; 
  }
  .search input{
    width: 40rem;
    height: 3rem;
    
  }
  .help label{
    font-size: 60px;
    
  }
 
  .branche img{
    width: 5rem;
  }
.branche{
  display: flex;
  gap: 22px;
  width: 50rem;
  margin-left: 5rem;
}
.blanc{
  padding-top: 5rem;
}

